/* NAVIGATION*/
.nav-container {
    background-color: rgba(128, 128, 128, 0.26);
}
/* HOME / VINTAGE FAMILY PORTRAITS*/
.third-row {
    background-color: rgba(128, 128, 128, 0.493);
    padding-top: 10;
}
.third-row a {
color: #B8860B;
}
.vintageFamilySection {
    padding-top: 50;
    padding-bottom: 50;
}
.vintageFamilySection h1 {
    color: #B8860B;
}
.vintageFamilySection img {
    border: solid 10px rgba(128, 128, 128, 0.308);
}
.btn-div {
    padding-bottom: 20px;
}
.vintageFamilySection button {
    border: solid 1px black;
    
}
.vintageFamilySection button:hover {
    background-color: black;
    color: white;
    border: solid 1px white;
}